

<ion-content  class="ion-padding">
  <h1 class="header ion-padding">Welcome</h1>
  <div class="container">
    <form>
      <mat-form-field appearance="outline" class="email">
          <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="password">
          <input matInput placeholder="Password">
      </mat-form-field>
      <button mat-raised-button class="login"  
          color="primary">Login</button>
  </form> 
  </div>

</ion-content>
