

<ion-content  class="ion-padding">
  <h1 class="header ion-padding">Welcome</h1>
  <div class="container">
    <form>
      <mat-form-field appearance="outline" class="email">
          <input matInput type="email"  #email required placeholder="Email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="password">
          <input matInput type="password"  #password required placeholder="Password">
      </mat-form-field>
      <button mat-raised-button class="login"  
          color="primary" (click)="logIn(email, password)">Login</button>
          <button mat-raised-button class="register"  
          color="secondary" (click)="goToRegister()">Register</button>
  </form> 
  </div>

</ion-content>
